.footerContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid black;
  align-items: center;
  margin-top: 70px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

